.title {
    text-align: center;
    background-color: #36c;
}
.logo {
    width: auto;
    height: 26px;
    align-content: flex-start;
    margin-left: 163px;
    }

.clogo {
    background-color: #3366cc;
}

.c2logo {
    margin-top: 39px;
    margin-left: 169px;
    width: 548px;
    height: auto;
    border: black solid 2px;
    border-radius: 4px;
    }

.menu {
    background-color: #f8f9fa;
    margin-left: 60px;


    }

.menuItem{
    list-style: none;
    display: inline;
    margin-right: 15px;


    }
.menuItem a {
    text-decoration: none;
    color: #6c757d;
    margin-top: 40px;
    margin-bottom: 40px;
}