.newCard {
    list-style: none;
    font-size: 1.2rem;
    }
.newImage {
    border-radius: 7px;
    background-color: azure;
    }
@media (max-width: 626px) {
    .newImage {
        width: auto;
        height: 100%;
    }
}